<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rules</title>
    <link rel="stylesheet"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1>Тут описываем правила пользования Байпорталом
    <br/>1. Всегда делаем домашку
    <br/>2. Ничего хорошего без Java у нас не будет
    <br/>3. Совершенствуем это приложение</h1>
<h1>Пожалуйста авторизуйтесь</h1>
<p> </p>Нажмите <a th:href="@{/web/get}">"ЭТУ кнопку</a> авторизации </p>
</body>
</html>