<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StatrByPortal</title>
    <link rel="stylesheet"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1>Ознакомтесь с правилами</h1>
<p> </p>Нажмите <a th:href="@{/Rules}">ЭТУ кнопку</a> Правила </p>
<h1>Пожалуйста авторизуйтесь</h1>
<p> </p>Нажмите <a th:href="@{/web/get}">ЭТУ кнопку</a> авторизации </p>
</body>
</html>
